---
title: Каталог продукции
category_class: list__category
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# top #}
	{% include "partials/block/_top.html" %}

	{# navigation #}
	{% include "partials/block/_navigation.html" %}

    <section class="head">
        <div class="container">
            {# breadcrumb #}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb--mt">
                    <li class="breadcrumb__item"><a href="#">Главная</a></li>
                    <li class="breadcrumb__item active" aria-current="page">Картины по номерам</li>
                </ol>
            </nav>
            <div class="title">Картины по номерам</div>
            <div class="tdescr">Здесь Вы можете посмотреть картины по выбранным категориям</div>
        </div>
    </section>
    

	{# category #}
	<section class="list">
        <div class="container">
            <div class="list__wrap">
                {% for i in [1,2,3,4,5] %}
                    {% include 'partials/block/_category.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

	{# footer #}
	{% include "partials/_footer.html" %}

{% endblock %}
