---
title: Главная страница
product_class: list__product
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# top #}
	{% include "partials/block/_top.html" %}

	{# navigation #}
	{% include "partials/block/_navigation.html" %}

	{# jumbotron #}
	{% include "partials/block/_jumbotron.html" %}

	{# products #}
	<section class="list">
		<div class="container list__container">
			<div class="list__wrap">
			{% for i in [1,2,3,4,5] %}
				{% include "partials/block/_product.html" %}
			{% endfor %}
			</div>
			<div class="list__more">
				<a href="" class="btn btn--more">Показать больше</a>
			</div>
		</div>
	</section>

	{# footer category #}
	{% include "partials/block/_footer-category.html" %}

	{# footer #}
	{% include "partials/_footer.html" %}

{% endblock %}
