<section class="footer">
    <div class="container">
        <div class="footer__wrap">
            {# navigation #}
            <div class="footer__col">
                <div class="footer__title footer__title--border">Карта сайта</div>
                <ul class="footer__list">
                    <li class="footer__item"><a href="" class="footer__link">Картины по номерам</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Картины по фото</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Аксессуары</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Доставка и оплата</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Возврат</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Оптовые покупатели</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Подарочные сертификаты</a></li>
                </ul>
            </div>

            {# contact #}
            <div class="footer__col">
                <div class="footer__title footer__title--border">Контакты</div>
                <div class="footer__adress">
                    <p>Адрес:</p>
                    <p>г. Энгельс, ул. Северная 13 Б</p>
                    <p>Пн-Пт 9.00 - 18.00</p>
                </div>
                <div class="footer__adress">
                    <p>Телефон:</p>
                    <p>+7 (499) 350 97 00</p>
                </div>
                <div class="footer__adress">
                    <p>E-mail:</p>
                    <p>info@hobbyshop-ru.ru</p>
                </div>
            </div>

            {# callback #}
            <div class="footer__col footer__col--subscribe">
                <div class="footer__title">Подпишитесь на наши новости и получите купон на скидку 10%</div>
                {# form #}
                <form action="" class="footer__form form">
                    <div class="form__group"><input type="text" placeholder="Введите e-mail" class="form__input"></div>
                    <div class="form__group"><input type="submit" value="Подписаться" class="btn btn--blue"></div>
                </form>
                <div class="footer__social social">
                    <div class="social__wrap">
                        <div class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__svg"><use xlink:href="img/sprite.svg#icon-socialInst"></use></svg>
                            </a>
                        </div>
                        <div class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__svg"><use xlink:href="img/sprite.svg#icon-socialVk"></use></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyright">
    <p>Политика конфиденциальности</p>
    <p>Copyright © 2018</p>
</section>