<section class="filter">
    <div class="container">
        <div class="filter__wrap">
            <div class="filter__search search">
                <input type="text" class="search__input" placeholder="Поиск" />
                <input type="button" value="" class="search__btn" />
            </div>
            <div class="filter__sort sort">
                <div class="sort__wrap">
                    <div class="sort__name">
                        <svg class="sort__svg"><use xlink:href="img/sprite.svg#icon-filterSort"></use></svg>
                        <span class="sort__right">Сортировать по:</span>
                    </div>
                    <a href="" class="sort__link active">новизне</a>
                    <a href="" class="sort__link">популярности</a>
                </div>
            </div>
        </div>
        <div class="filter__wrap">
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterSize"></use></svg>
                <span class="filter__right">Размер</span>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterCount"></use></svg>
                <span class="filter__right">Количество товаров</span>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterComplexity"></use></svg>
                <span class="filter__right">Сложность</span>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterCategory"></use></svg>
                <span class="filter__right">Категории</span>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterPrice"></use></svg>
                <span class="filter__right">Цена</span>
            </div>
            <div class="filter__item filter__item--sort">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterSort"></use></svg>
                <span class="filter__right">Цена</span>
            </div>
        </div>
    </div>
</section>