<section class="filter">
    <div class="container container--fmp">
        <div class="filter__wrap">
            <div class="filter__search search">
                <input type="text" class="search__input" placeholder="Поиск" />
                <input type="button" value="" class="search__btn" />
            </div>
            <div class="filter__sort sort">
                <div class="sort__wrap">
                    <div class="sort__name">
                        <svg class="sort__svg"><use xlink:href="img/sprite.svg#icon-filterSort"></use></svg>
                        <span class="sort__right">Сортировать по:</span>
                    </div>
                    <a href="" class="sort__link active">новизне</a>
                    <a href="" class="sort__link">популярности</a>
                </div>
            </div>
        </div>
        <div class="filter__wrap">
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterSize"></use></svg>
                <span class="filter__right">Размер</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f1">
                            <label for="f1" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f2">
                            <label for="f2" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f3">
                            <label for="f3" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterCount"></use></svg>
                <span class="filter__right">Количество товаров</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f21">
                            <label for="f21" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f22">
                            <label for="f22" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f23">
                            <label for="f23" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterComplexity"></use></svg>
                <span class="filter__right">Сложность</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f31">
                            <label for="f31" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f32">
                            <label for="f32" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f33">
                            <label for="f33" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterCategory"></use></svg>
                <span class="filter__right">Категории</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f41">
                            <label for="f41" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f42">
                            <label for="f42" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f43">
                            <label for="f43" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter__item">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterPrice"></use></svg>
                <span class="filter__right">Цена</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f51">
                            <label for="f51" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f52">
                            <label for="f52" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f53">
                            <label for="f53" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="filter__item filter__item--sort">
                <svg class="filter__svg"><use xlink:href="img/sprite.svg#icon-filterSort"></use></svg>
                <span class="filter__right">Цена</span>
                <div class="filter__popup">
                    <form action="" class="filter__form">
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f61">
                            <label for="f61" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f62">
                            <label for="f62" class="filter__label">40х50 см</label>
                        </div>
                        <div class="filter__group">
                            <input type="checkbox" class="filter__checkbox" id="f63">
                            <label for="f63" class="filter__label">5 уровень (очень сложные)</label>
                        </div>
                        <div class="filter__group">
                            <input type="submit" class="btn btn--purple filter__btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>