<div class="jumbotron">
    <div class="container">
        <div class="jumbotron__wrap">
            <div class="jumbotron__title">Картины по номерам</div>
            <div class="jumbotron__subtitle">
                У нас вы найдете огромный выбор картин для рисования по номерам, 
                а также сможете заказать картину по любой фотографии
            </div>
            <div class="jumbotron__search search">
                <input type="text" class="search__input" placeholder="Поиск">
                <input type="button" value="" class="search__btn">
            </div>
        </div>
    </div>
</div>