<section class="navigation js--nav">
    <div class="container">
        <div class="navigation__wrap">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="catalog.html" class="navigation__link">Картины по номерам</a></li>
                <li class="navigation__item"><a href="photo-to-image.html" class="navigation__link">Картины по фото</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Аксессуары</a></li>
                <li class="navigation__item"><a href="delivery.html" class="navigation__link">Доставка и оплата</a></li>
                <li class="navigation__item"><a href="obmen.html" class="navigation__link">Возврат</a></li>
                <li class="navigation__item"><a href="opt.html" class="navigation__link">Оптовые покупатели</a></li>
                <li class="navigation__item"><a href="certificate.html" class="navigation__link">Подарочные сертификаты</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Контакты</a></li>
            </ul>
        </div>
        <div class="navigation__mobile">
            <div class="navigation__phone icon">
                <svg class="icon__svg icon__svg--blue"><use xlink:href="img/sprite.svg#icon-phone"></use></svg>
                <span class="icon__right">8 (499) 350-07-00</span>
            </div>
            <div class="navigation__social social">
                <div class="social__wrap">
                    <div class="social__item">
                        <a href="" class="social__link">
                            <svg class="social__svg"><use xlink:href="img/sprite.svg#icon-socialInst"></use></svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="" class="social__link">
                            <svg class="social__svg"><use xlink:href="img/sprite.svg#icon-socialVk"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation__close js--nav-close">
        <img src="img/general/cartDelete.svg" alt="">
    </div>
</section>