<section class="navigation">
    <div class="container">
        <div class="navigation__wrap">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="catalog.html" class="navigation__link">Картины по номерам</a></li>
                <li class="navigation__item"><a href="photo-to-image.html" class="navigation__link">Картины по фото</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Аксессуары</a></li>
                <li class="navigation__item"><a href="delivery.html" class="navigation__link">Доставка и оплата</a></li>
                <li class="navigation__item"><a href="obmen.html" class="navigation__link">Возврат</a></li>
                <li class="navigation__item"><a href="opt.html" class="navigation__link">Оптовые покупатели</a></li>
                <li class="navigation__item"><a href="certificate.html" class="navigation__link">Подарочные сертификаты</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Контакты</a></li>
            </ul>
        </div>
    </div>
</section>