<div class="product {{ product_class }}">
    <a href="product-card.html" class="product__image">
        <img src="img/example/product.png" alt="">
        <div class="product__tp">
            <div class="product__title">Ежик на дереве</div>
            <div class="product__prices">
                <div class="product__price">1019 ₽</div>
                <div class="product__oldprice">1919 ₽</div>
            </div>
        </div>
    </a>
    <div class="product__btns">
        <div class="product__icon icon">
            <svg class="icon__svg icon__svg--purple"><use xlink:href="img/sprite.svg#icon-favorites"></use></svg>
            <span class="icon__right">123</span>
        </div>
        <div class="product__icon product__icon--blue icon">
            <svg class="icon__svg icon__svg"><use xlink:href="img/sprite.svg#icon-cart"></use></svg>
        </div>
    </div>
    <div class="product__short-view">Быстрый просмотр</div>
</div>