<div class="review__item">
    <div class="review__name">Ольга Зайцева</div>
    <div class="review__rating"><span>5</span>Отличный товар</div>
    <div class="review__content">  
        <div class="review__subtitle">Достоинства:</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
        commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <div class="review__content">  
        <div class="review__subtitle">Недостатки:</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
        commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <div class="review__content">  
        <div class="review__subtitle">Комментарий:</div>
        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
        dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
    <div class="review__btn">
        <a href="" class="btn btn--purple">Оставить свой отзыв</a>
    </div>
</div>