<section class="top">
    <div class="container">
        <div class="top__wrap">
            <a href="#" class="logo"><img src="img/general/logo.svg" /></a>

            <div class="top__search search">
                <input type="text" class="search__input" placeholder="Поиск">
                <input type="button" value="" class="search__btn">
            </div>

            <div class="top__btns">
                <div class="top__iblock icon">
                    <svg class="icon__svg icon__svg--blue"><use xlink:href="img/sprite.svg#icon-profile"></use></svg>
                    <svg class="icon__svg icon__svg--blue icon__svg--arr"><use xlink:href="img/sprite.svg#icon-arr"></use></svg>
                </div>
                <div class="top__iblock icon">
                    <svg class="icon__svg icon__svg--purple"><use xlink:href="img/sprite.svg#icon-favorites"></use></svg>
                    <span class="icon__right">(2)</span>
                </div>
                <div class="top__iblock top__iblock--pr0 icon">
                    <svg class="icon__svg icon__svg--blue"><use xlink:href="img/sprite.svg#icon-cart"></use></svg>
                    <span class="icon__right">1432P</span>
                </div>
            </div>
            
        </div>
    </div>
</section>