{% set 
category = [
	{
		title: 'Пейзажи'
	},{
		title: 'Радужные картины'
	},{
		title: 'Горы'
	},{
		title: 'Еда и напитки'
	},{
		title: 'Цветы'
	},{
		title: 'Девушки'
	},{
		title: 'Еда и напитки'
	},{
		title: 'Девушки'
	},{
		title: 'Животные'
	},{
		title: 'Корабли'
	},{
		title: 'Искусство'
	},{
		title: 'Корабли'
	},{
		title: 'Портреты'
	},{
		title: 'Техника'
	},{
		title: 'Техника'
	},{
		title: 'Техника'
	},{
		title: 'Архитектура'
	},{
		title: 'Море'
	},{
		title: 'Море'
	},{
		title: 'Разное'
	}
]
%}